body{
  background-color: turquoise;
}

header {
    padding: 20px 35px;
    background-color: #616161;
}
header h1, h2 {
  text-align: center;
    display: inline;
    font-size: 48px;
}  

 h3{
  text-align: center;
  font-size: 48px;
  margin-top: 260px;
  background-color: #313131;

}
header nav {
    margin: 20px 0;
    float: right;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    font-size: 18px;
    border-radius: 25px;
    background-color:#383847;
    color: rgb(153, 136, 136);
    padding: .5em 1.5em;
    text-transform: uppercase;
}
header nav ul li a:hover{
  background-color: rgb(10, 10, 9);
  color: white;

}

.pic{
    
        height: 600px;
        width: 100%;
        margin-bottom: 25px;
        background-image: url("../pictures/pictures/giphy.gif");
        background-size: cover;
        background-position: center;
}

.p, .p1{
  font-size: 22px;
  

}
.image-1{
  display: block;
  margin-left: auto;
  margin-right: 1;
  width: 70%;
  border: 3px solid #313131;
}

.image-2{
  float: right;
  width: 300px;
  border: 3px solid #313131;
  padding: 10px;
}
.image-2:hover, .image-1:hover{
  border-style: 5px solid #313131;
  opacity: .75;
}

.cont{
  text-align: center;
  font-size: 32px;
  color: white;
  word-spacing: 150px;
}
a.one:link{ color: yellow;}
a.one:visited{
   color: white;
}

footer{
  background-color: #313131;

}

@media only screen and (max-width:1060px) {
  /* For tablets: */
  body .pic{
    width: 100%;
    padding: 0;

  }
  .image-2{
    padding: 4px;
  }
  

    
  }
  .image-1{
    float: none;
    width: 70%;
  }

@media only screen and (max-width:980px) {
  /* For mobile phones: */
.pic {
  float: none;
    width: 70%;
   
 }
 .image-1 {
float: none;
width: 100%;
}
header nav{
display: inline;

}
.image-2{
  float: none;
  width: 30%;
  padding: 11px;

 }
  }