header {
    padding: 20px 35px;
    background-color: #b5b800;
}
header h1 {
    display: inline;
    font-size: 48px;
}  

header nav {
    margin: 20px 0;
    float: right;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    font-size: 18px;
    border-radius: 25px;
    background-color:#000000;
    color: rgb(153, 136, 136);
    padding: .5em 1.5em;
    text-transform: uppercase;
}

.pic{
    
        height: 600px;
        width: 100%;
        margin-bottom: 25px;
        background-image: url("../vitality/Desktop/hw2/bmw.jpg");
        background-size: cover;
        background-position: center;
}
div.gallery {
    border: 1px solid #ccc;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }