body{
  background-color: turquoise;
}

header {
    padding: 20px 35px;
    background-color: #616161;
}
header h1 {
  text-align: center;
    display: inline;
    font-size: 48px;
}  
h2{
  text-align: center; 
  font-size: 48px;
}
 
h3{
margin-top: 260px;
margin-left: 45%;
font-size: 48px;
}


header nav {
    margin: 20px 0;
    float: right;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    font-size: 18px;
    border-radius: 25px;
    background-color:#383847;
    color: rgb(153, 136, 136);
    padding: .5em 1.5em;
    text-transform: uppercase;
}
header nav ul li a:hover{
  background-color: rgb(10, 10, 9);
  color: white;

} 
/* the main photo, or in this case I put in a gif*/
.pic{
    
        height: 600px;
        width: 100%;
        margin-bottom: 25px;
        background-image: url("../pictures/pictures/giphy.gif");
        background-size: cover;
        background-position: center;
}
/* both paragraphs*/
p{
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  

}

/* larger picture*/
.image-1{
  display: block;
  margin-left: auto;
  margin-right: 1;
  width: 70%;
  border: 3px solid #313131;
}


/* smaller pictures*/
.image-2{
  display: inline-block;
  margin: 10px 60px;
  float: right;
  width: 300px;
  border: 3px solid #313131;
  padding: 5px;
}
.image-2:hover, .image-1:hover{
  border-style: 2px solid #313131;
  opacity: .75;
}
/* few lines style the links*/
a.one:link{ color: yellow;}
a.one:visited{
   color: white;
   
}

.one{
  margin: 50px;
}

footer{
  background-color: #313131;
text-align: center;
font-size: 48px;
margin-top: -95px;
padding: 70px;
}

@media only screen and (max-width:1060px) {
  /* For tablets: */
  body .pic{
    width: 100%;
    padding: 0;

  }
  .image-2{
    padding: 4px;
  }
  

    
  }
  .image-1{
    float: none;
    width: 70%;
  }

@media only screen and (max-width:980px) {
  /* For mobile phones: */
.pic {
  float: none;
    width: 70%;
   
 }
 .image-1 {
float: none;
width: 100%;
}
header nav{
display: inline;

}
.image-2{
  float: none;
  width: 30%;
  padding: 0px;
  margin: 10px;}

  footer{ margin-top: -105px;

 }
  }
